header{
  font-family:Comfortaa;
  padding:15px;
}

body{
  margin:20px;
  border: 6px ridge;
  border-color:maroon;
  background-color:beige;
}

.font-blue{
  color: black;
}

#ID_name{
  margin:0px;
  letter-spacing:3px;
  text-transform:uppercase;
}

.small-font{
 font-size: 13px
}

#h1{
  background-color: bisque;
  border: black 2px ridge;
  font-style: italic;

}

#h2{
  border: black 3px ridge;
  background-color: burlywood
}